Final project.json
[{"id":"f493682c.367938","type":"tab","label":"life exp flow","disabled":false,"info":""},{"id":"d1af3cb2.8627c","type":"function","z":"f493682c.367938","name":"PreToken","func":"global.set(\"cy\",msg.payload.cy);\nglobal.set(\"yr\",msg.payload.yr);\nglobal.set(\"sts\",msg.payload.sts);\nglobal.set(\"adm\",msg.payload.adm);\nglobal.set(\"ind\",msg.payload.ind);\nglobal.set(\"alc\",msg.payload.alc);\nglobal.set(\"per\",msg.payload.per);\nglobal.set(\"hep\",msg.payload.hep);\nglobal.set(\"mea\",msg.payload.mea);\nglobal.set(\"bmi\",msg.payload.bmi);\nglobal.set(\"ufd\",msg.payload.ufd);\nglobal.set(\"pol\",msg.payload.pol);\nglobal.set(\"toe\",msg.payload.toe);\nglobal.set(\"dip\",msg.payload.dip);\nglobal.set(\"hiv\",msg.payload.hiv);\nglobal.set(\"gdp\",msg.payload.gdp);\nglobal.set(\"pop\",msg.payload.gdp);\nglobal.set(\"th1\",msg.payload.th1);\nglobal.set(\"th5\",msg.payload.th5);\nglobal.set(\"inc\",msg.payload.inc);\nglobal.set(\"sch\",msg.payload.gdp);\n\n\nvar apikey=\"NGp8_pqMDNyazO2zq6zG3Ya6D1NVcpsS-3cSW3eNE76g\";\nmsg.headers={\"content-type\":\"application/x-www-form-urlencoded\"};\nmsg.payload={\"grant_type\":\"urn:ibm:params:oauth:grant-type:apikey\",\"apikey\":apikey};\nreturn msg;","outputs":1,"noerr":0,"x":340,"y":40,"wires":[["9a21c17e.a0ecd"]]},{"id":"9a21c17e.a0ecd","type":"http request","z":"f493682c.367938","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://iam.cloud.ibm.com/identity/token","tls":"","persist":false,"proxy":"","authType":"","x":330,"y":120,"wires":[["be0e2371.70bf7"]]},{"id":"9cb887ae.d00678","type":"debug","z":"f493682c.367938","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":530,"y":340,"wires":[]},{"id":"be0e2371.70bf7","type":"function","z":"f493682c.367938","name":"PrePrediction","func":"var token=msg.payload.access_token;\nvar instance_id=\"8817f25a-2c21-4f95-84a7-ddad7dd70672\"\nmsg.headers={'Content-Type': 'application/json',\"Authorization\":\"Bearer \"+token,\"ML-Instance-ID\":instance_id}\n\nvar cy = global.get(\"cy\");\nvar yr = global.get(\"yr\");\nvar sts = global.get(\"sts\");\nvar adm = global.get(\"adm\");\nvar ind = global.get(\"ind\");\nvar alc = global.get(\"alc\");\nvar per = global.get(\"per\");\nvar hep = global.get(\"hep\");\nvar mea = global.get(\"mea\");\nvar bmi = global.get(\"bmi\");\nvar ufd = global.get(\"ufd\");\nvar pol = global.get(\"pol\");\nvar toe = global.get(\"toe\");\nvar dip = global.get(\"dip\");\nvar hiv = global.get(\"hiv\");\nvar gdp = global.get(\"gdp\");\nvar pop = global.get(\"pop\");\nvar th1 = global.get(\"th1\");\nvar th5 = global.get(\"th5\");\nvar inc = global.get(\"inc\");\nvar sch = global.get(\"sch\");\n\n\nmsg.payload={\"fields\": [\"Country\", \"Year\", \"Status\", \"Adult Mortality\", \"infant deaths\", \"Alcohol\", \"percentage expenditure\", \"Hepatitis B\", \"Measles \", \" BMI \", \"under-five deaths \", \"Polio\", \"Total expenditure\", \"Diphtheria \", \" HIV/AIDS\", \"GDP\", \"Population\", \" thinness  1-19 years\", \" thinness 5-9 years\", \"Income composition of resources\", \"Schooling\"], \"values\": [[cy,yr,sts,adm,ind,alc,per,hep,mea,bmi,ufd,pol,toe,dip,hiv,gdp,pop,th1,th5,inc,sch]]}\nreturn msg;","outputs":1,"noerr":0,"x":320,"y":200,"wires":[["1784e26b.4d2a9e"]]},{"id":"1784e26b.4d2a9e","type":"http request","z":"f493682c.367938","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://us-south.ml.cloud.ibm.com/v3/wml_instances/8817f25a-2c21-4f95-84a7-ddad7dd70672/deployments/84dcd7bc-d3da-4686-bd7a-d40117850061/online","tls":"","persist":false,"proxy":"","authType":"","x":330,"y":280,"wires":[["c0b78372.39bc2"]]},{"id":"9b6fce66.2f47a","type":"ui_form","z":"f493682c.367938","name":"","label":"","group":"4971c211.127c8c","order":0,"width":0,"height":0,"options":[{"label":"Country","value":"cy","type":"text","required":true,"rows":null},{"label":"Year","value":"yr","type":"number","required":true,"rows":null},{"label":"Status","value":"sts","type":"text","required":true,"rows":null},{"label":"Adult mortality","value":"adm","type":"number","required":true,"rows":null},{"label":"Infant deaths","value":"ind","type":"number","required":true,"rows":null},{"label":"Alcohol","value":"alc","type":"number","required":true,"rows":null},{"label":"Percentage expenditure","value":"per","type":"number","required":true,"rows":null},{"label":"Hepatitis B ","value":"hep","type":"number","required":true,"rows":null},{"label":"Measles","value":"mea","type":"number","required":true,"rows":null},{"label":"BMI","value":"bmi","type":"number","required":true,"rows":null},{"label":"Under-five deaths","value":"ufd","type":"number","required":true,"rows":null},{"label":"Polio ","value":"pol","type":"number","required":true,"rows":null},{"label":"Total expenditure","value":"toe","type":"number","required":true,"rows":null},{"label":"Diphtheria ","value":"dip","type":"number","required":true,"rows":null},{"label":"HIV/AIDS ","value":"hiv","type":"number","required":true,"rows":null},{"label":"GDP ","value":"gdp","type":"number","required":true,"rows":null},{"label":"Population","value":"pop","type":"number","required":true,"rows":null},{"label":"Thinness 1-19 years","value":"th1","type":"number","required":true,"rows":null},{"label":"Thinness 5-9 years","value":"th5","type":"number","required":true,"rows":null},{"label":"Income composition of resources","value":"inc","type":"number","required":true,"rows":null},{"label":"Schooling","value":"sch","type":"number","required":true,"rows":null}],"formValue":{"cy":"","yr":"","sts":"","adm":"","ind":"","alc":"","per":"","hep":"","mea":"","bmi":"","ufd":"","pol":"","toe":"","dip":"","hiv":"","gdp":"","pop":"","th1":"","th5":"","inc":"","sch":""},"payload":"","submit":"Submit","cancel":"Cancel","topic":"","x":110,"y":40,"wires":[["d1af3cb2.8627c"]]},{"id":"e32548df.b91fb8","type":"ui_text","z":"f493682c.367938","group":"4971c211.127c8c","order":1,"width":0,"height":0,"name":"","label":"Prediction:","format":"{{msg.payload}}","layout":"col-center","x":530,"y":380,"wires":[]},{"id":"c0b78372.39bc2","type":"function","z":"f493682c.367938","name":"EndPrediction","func":"msg.payload=msg.payload.values[0][0];\nreturn msg;","outputs":1,"noerr":0,"x":320,"y":360,"wires":[["9cb887ae.d00678","e32548df.b91fb8"]]},{"id":"4971c211.127c8c","type":"ui_group","z":"","name":"Predicting life expectancy","tab":"a72043a8.82fdc","order":1,"disp":true,"width":"6","collapse":false},{"id":"a72043a8.82fdc","type":"ui_tab","z":"","name":"Home!","icon":"dashboard","disabled":false,"hidden":false}]